{% extends 'base/main.html' %}

  {% block content %}
<div style="background-color:#9999ff;" class="p-3">
{% if request.user.is_authenticated %}
<p>Привет, {{request.user}}</p>
<a href="{% url 'logout'%}" class="btn btn-primary">Выйти</a>
{% else %}
<a href="{% url 'login'%}">Войти</a>
{% endif%}
</div>
<hr>
<div style="background-color:#a9a781;" class="p-3">
<h1 class="text-center">Напоминания</h1>
<p><a href="{% url 'create'%}" class="btn btn-primary">Создать</a></p>
<form action="" method="get">
    <input  type="search" placeholder="Название" aria-label="Search" name="search-area" value="{{search_input}}">
    <button class="btn btn-outline-success" type="submit">Искать</button>
</form>
<table >
    <tr>
        <th>Название</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td><p class=" bg-transparent text-dark"  >  {{task.title }} </p></td>
        <td><a href="{% url 'detail' task.id %}" class="btn btn-secondary">Детально</a></td>
        <td><a href="{% url 'update' task.id %}" class="btn btn-success">Редактировать</a></td>
        <td><a href="{% url 'delete' task.id %}" class="btn btn-danger">Удалить</a></td>
    </tr>
    {% empty %}
    <h3>Нет никаких задач </h3>
    {%endfor%}
</table>
</div>

  {% endblock content %}

